<div class="mini-banner">
    <nav class="sorting-nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <ul class="responsive-tabs">
                        <li>NetChill Movie Streaming Website</li>
                        <!-- <li>Results: >>>
                            <span class="link-info">
                                Popular Movies
                            </span>
                        </li> -->
                    </ul>
                </div>
                <div class="col-8 text-end">
                    <ul class="responsive-tabs">
                        <li><a class="sort-link" href="#">A-Z</a></li>
                        <li class="dropdown">
                            <a class="sort-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Genre</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Cerulean</a>
                              <a class="dropdown-item" href="#">Cosmo</a>
                              <a class="dropdown-item" href="#">Cyborg</a>
                              <a class="dropdown-item" href="#">Darkly</a>
                              <a class="dropdown-item" href="#">Flatly</a>
                              <a class="dropdown-item" href="#">Journal</a>
                              <a class="dropdown-item" href="#">Litera</a>
                              <a class="dropdown-item" href="#">Lumen</a>
                              <a class="dropdown-item" href="#">Lux</a>
                              <a class="dropdown-item" href="#">Materia</a>
                            </div>
                        </li>
                        <li><a class="sort-link" href="#">Recent</a></li>
                        <li><a class="sort-link" href="#">Popular</a></li>
                        <li><a class="sort-link" href="#">Year</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>