<div class="selected-upcoming p-5">
    <div class="movie-details">
        <div class="row">
            <div class="col-3">
                <div class="poster-panel">
                    <img class="movie-poster" src="./../../../../../../assets/images/Sixty Minutes.jpg" alt="Movie Poster">
                </div>
            </div>
            <div class="col-9">
                <div class="watch-trailer">
                    <button class="btn btn-secondary"><i class="fa fa-video"></i> Watch Trailer</button>
                </div>
                <div class="movie-title"><h3>Sixty Minutes</h3></div>
                <div class="watch-options">
                    <span class="save" title="Save To Watch Later">
                        <button class="btn btn-outline-secondary"><i class="fa fa-plus"></i> Save</button>
                    </span>
                    <span class="quality" title="Video Quality">
                        <button class="btn btn-secondary"><i class="fa fa-video"></i> HD</button>
                    </span>
                    <span class="like">
                        <button class="btn btn-info"><i class="fa fa-thumbs-up"></i> Like</button>
                    </span>
                </div>
                <div class="movie-summary mt-3">
                    <p>On the brink of losing her home, Maddie finds an intriguing job listing: helicopter parents looking for someone to bring their introverted 19-year-old son out of his shell before college. She has one summer to make him a man or die trying.</p>
                </div>
                <div class="movie-info">
                    <div class="row">
                        <div class="col-4">
                            <span><b>Availabile On: </b>13 February 2024</span>
                            <span><b>Genre: </b>Action, Thriller, Drama</span>
                            <span><b>Languages: </b>English</span>
                        </div>
                        <div class="col-8">
                            <span><b>Directors: </b>Yanga Dlamini</span>
                            <span><b>Writers: </b>Lungelo Ndlovu, Minenhle Ntuli, Bongiwe Khumalo</span>
                            <span><b>Stars: </b>Lusanda Langa, Lwazi Mzobe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="movie-trailer">
      
    </div>
</div>