<div class="movies-content-heading">
    <h3>Latest <span>Movies</span></h3>
</div>
<div class="new-movies">
    <div class="row">
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/The Covenant.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/Furioza.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/No Hard Feelings.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/Sixty Minutes.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/The Creator.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2 movie-item hvr-sweep-img">
            <a [routerLink]="['/SelectedMovie/', id]" class="movie-details">
                <div class="movie-poster">
                    <img title="Movie Title" src="./../../../../assets/images/Troy Movie Poster.jpg" alt="">
                    <div class="play-icon">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="movie-info">
                    <p class="title">Guy Ritchie's - The Covenant</p>
                    <div class="other-info">
                        <span class="release-info">2023</span>
                        <span class="duration-info">
                            <i class="fa fa-clock" aria-hidden="true"> 1h 37m</i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>