@charset "UTF-8";


/***Movie Files Upload***/

/*Movie Poster*/

.upload-poster .poster-panel{
  margin-left: 25%;
  border: 2px solid #a5a5a5;
  background: #f5f5f5;
  height: 300px;
  width: 200px;
}

.select-poster .btn {
  margin-left: 25%;
  width: 200px;
}

.poster-panel .drag-area {
  height: 296px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-poster .drag-over{/**Drag over active**/
  border: 2px dashed #6c757d;
}

.drag-area .icon{
  font-size: 60px;
  color:#6c757d;
}

.drag-area header{
  font-size: 15px;
  font-weight: bold;
  color:#6c757d;
}

.drag-area span{
  font-size: 18px;
  font-weight: bold;
  color:#6c757d;
  margin: 10px 0 15px 0;
}

.poster-panel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/*Movie Clip*/

.upload-clip .container{
  width: 450px;
  height: 250px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}

.upload-clip input.d-none{
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

 button.browse-file{
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  /* background-color: #db202f; */
  background-color: #6c757d;
  padding: 8px 16px;
}

.upload-clip h3{
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}

.upload-clip .drag-over{
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.upload-clip .clip-loadview{
  margin-top: 1.5rem;
  display: flex;
  flex-grow: 1;
}

.upload-clip .single-file {
  display: block;/*flex*/
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
}

.upload-clip  .delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.clip-details{
  width: 100%;
}

.clip-details .clip-name{
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.clip-details .clip-size{
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*** //Movie Files Upload***/



